* {
    margin: 0;
    padding: 0;



}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;

}

body {
    font-family: Helvetica, sans-serif;
    font-size: 1.05em;
    background-image: url(/images/background.jpg);
            background-repeat: repeat;
        background-attachment: local;

}

.wrapper {
    width: 100%;
    min-width: 600px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {

    background: #fff;
    width: 100%;
    height: 86px;
    top: 0;
    left: 0;
    border-bottom: 2px solid #666;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    border-left: 200px solid white;
    border-right: 200px solid white;
    position: relative;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: -100%;
}

.content {
    padding: 0 20px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 200px;
    position: relative;
    background: #fff;
    left: -200px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
    float: right;
    margin-right: -200px;
    width: 200px;
    position: relative;
    background: #FFF;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    bottom: 0px;
    height: 70px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #666;
    background: white;

}

nav li {
    padding-top: 14px;
    float: right;
    font-size: 1.3em;

}

nav img {
    position: absolute;
    top: 0px;
    padding: 15px;
}

nav img:hover {

    transform: scale(1.1);
    transition: transform .2s;

}

nav a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;


}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

.main-content li {
    list-style-type: none;
    float: right;
    padding: 20px;
}

p {
    margin: 15px;
}

h1 {
    margin: 25px;
}

h2 {
    margin: 25px;
}


.content img {
    width: 100%;
    height: auto;
}

.content li {
    list-style-type: circle;
}

@media screen and (max-width: 800px) {
    .middle {
        border-left: 10px solid white;
        border-right: 10px solid white;
    }

    .left-sidebar {
        width: 10px;
        left: -10px;
    }

    .right-sidebar {
        width: 10px;
        margin-right: -10px;
    }

}
#logo
{
    padding: 5px;
}
