		body {
		    font-size: 1.05em;
		    font-family: Helvetica, sans-serif;
		    line-height: 1.25em;
		    background: #fff;
		    padding: 0px;
		    margin: 0px;
		    background-image: url(/images/background.jpg);
		}

		header {


		    background: #fff;
		    width: 100%;
		    height: 86px;
		    position: fixed;
		    top: 0;
		    left: 0;
		    border-bottom: 2px solid #666;
		}

		nav li {
		    padding-top: 14px;
		    float: right;
		    font-size: 1.3em;

		}

		nav img {
		    position: absolute;
		    top: 0px;
		    padding: 15px;
		}

		nav img:hover {

		    transform: scale(1.1);
		    transition: transform .2s;

		}

		nav a {
		    font-weight: bold;
		    color: #000;
		    text-decoration: none;
		    text-transform: uppercase;


		}

		a:hover {
		    color: #666;
		}

		ul {
		    list-style: none;
		}

		li {
		    list-style-type: none;
		    float: left;
		    padding: 10px
		}

		footer {
		    position: fixed;
		    bottom: 0px;
		    width: 100%;
		    background: white;
		    text-align: center;
		    border-top: 2px solid #666;
		}

		.container {
		    position: relative;
		    width: 100%;
		}

		.award {
		    margin-top: 86px;
		    margin-bottom: 0px;
		    opacity: 1;
		    display: block;
		    width: 100%;
		    height: auto;
		    transition: .5s ease;
		    backface-visibility: hidden;

		}

		.middle {
		    transition: .5s ease;
		    opacity: 0;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    text-align: center;
		}

		.container:hover .award {
		    opacity: 0.3;
		}

		.container:hover .middle {
		    opacity: 1;
		}

		.text {
		    margin-top: 300px;
		    background-color: transparent;
		    color: black;
		    font-size: 1.5em;
		    padding: 16px 32px;
		    border: 2px solid #666;
		    text-decoration: none;
		}

		a:link {
		    text-decoration: none;
		}
#logo
{
    padding: 5px;
}
